@charset "UTF-8";
:root {
  --main-title-color: #ffffff;
  --main-text-color: #212121;
  --secondary-color-of-the-text: #757575;
  --text-accent-color: #2196f3;
  --button-color: #f5f4fa;
  --text-white-transparent: rgba(255, 255, 255, 0.6);
  --header-background: #2f303a;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--main-title-color);
  color: var(--secondary-color-of-the-text);
  font-family: Roboto, sans-serif;
}

/*заголовок #FFFFFF*/
/*колір основновного текста #212121 */
/*вториний колір тексту #757575*/
/*акцент текста #2196F3*/
/*фон 1 #FFFFFF*/
/*фон 2 #2F303A*/
/*фон 3 #F5F4FA*/
/*фон 4 #2F303A*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--text-accent-color);
}

.site-nav__link--current::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: var(--text-accent-color);
  display: block;
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link--current {
  color: var(--text-accent-color);
}

.site-nav__link--current.site-nav__link--underlining::after {
  content: "";
  width: 78px;
  height: 4px;
}

.contacts {
  margin: 0;
  margin-left: auto;
  padding: 0px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__item .contacts__link {
  color: var(--secondary-color-of-the-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item .contacts__link:hover, .contacts__item .contacts__link:focus {
  color: var(--text-accent-color);
}

.contacts__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--text-accent-color);
}

.contacts__item {
  padding-right: 30px;
}

.container__item {
  color: var(--main-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
  margin-right: 93px;
}

.container__link--accent {
  color: var(--text-accent-color);
}

.basement__studio {
  color: var(--main-title-color);
}

.basement__link--accent {
  color: var(--text-accent-color);
}

.basement__item {
  color: var(--main-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.buttons__item {
  border-radius: 4px;
  color: var(--main-title-color);
  background-color: var(--text-accent-color);
  cursor: pointer;
  font-family: Roboto;
  padding: 10px 32px;
  min-width: 73px;
  text-align: center;
  border: 1px solid var(--text-white-transparent);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  -webkit-transition-property: color;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons__item:hover, .buttons__item:focus {
  background-color: var(--text-accent-color);
  color: var(--button-color);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.buttons li:not(:last-child) {
  margin-right: 10px;
}

.buttons__item--secondary {
  background-color: var(--button-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: Roboto;
  padding: 6px 22px;
  cursor: pointer;
}

.buttons__item--primary {
  background-color: var(--button-color);
  color: var(--main-text-color);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set__painting {
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(100 % / 3-30px);
      flex-basis: calc(100 % / 3-30px);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__painting:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.card-set__none-text {
  text-decoration: none;
}

.card-set__page-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  margin-top: 0;
}

.card-set__painting:hover .card-set__page-text,
.card-set__painting:focus .card-set__page-text {
  overflow: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-set__title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  margin-top: 0px;
}

.card-set__text {
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-set__image {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #ececec;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

img {
  display: block;
}

/*footer*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address {
  margin-top: 20px;
}

.address__list {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 6px;
}

.address__content {
  color: var(--text-white-transparent);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
}

.address__content:hover, .address__content:focus {
  color: var(--text-accent-color);
}

.address__link {
  color: var(--main-title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 93px;
  margin-right: 10px;
}

.form-bloc__mailing {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 20px;
  font-weight: 700;
}

.form-bloc__email {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
  color: var(--main-title-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-bloc__form-button {
  width: 200px;
  height: 50px;
  background-color: var(--text-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-title-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 29px;
}

.form-bloc__icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  padding: 0;
}

.social-networks {
  border: none;
  list-style: none;
  margin-left: 70px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  border: none;
}

.command-clients {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.clients__icon-clients {
  width: 44px;
  height: 44px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.clients__icon-clients:not(:last-child) {
  margin-right: 10px;
}

.clients__icon-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  fill: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon-social:hover, .clients__icon-social:focus {
  fill: var(--main-title-color);
  background-color: var(--text-accent-color);
}

.clients__icon-networks {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=portfolio.css.map */