/*header*/

/*site nav*/

/*Портфоліо*/
.site-nav__link--current.site-nav__link--underlining::after {
  content: "";
  width: 78px;
  height: 4px;
}
/**/

/**/

.buttons__item {
  border-radius: 4px;
  color: var(--main-title-color);
  background-color: var(--text-accent-color);
  cursor: pointer;
  font-family: Roboto;
  padding: 10px 32px;
  min-width: 73px;
  text-align: center;
  border: 1px solid var(--text-white-transparent);

  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons__item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons li:not(:last-child) {
  margin-right: 10px;
}

.buttons__item--secondary {
  background-color: var(--button-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: Roboto;
  padding: 6px 22px;
  cursor: pointer;
}

.buttons__item:hover,
.buttons__item:focus {
  background-color: var(--text-accent-color);
  color: var(--button-color);
}

.buttons__item--primary {
  background-color: var(--button-color);
  color: var(--main-text-color);
}
/* img */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set__painting {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100 % / 3-30px);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__painting:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__page {
  position: relative;
  display: flex;
  overflow: hidden;
}
.card-set__none-text {
  text-decoration: none;
}
.card-set__page-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  margin-top: 0;
}

.card-set__painting:hover .card-set__page-text,
.card-set__painting:focus .card-set__page-text {
  overflow: visible;
  transform: translateY(0);
}

.card-set__title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  margin-top: 0px;
}
.card-set__text {
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-set__image {
  flex-direction: row;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #ececec;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
img {
  display: block;
}

/*Rectangle */

/**/

/*section*/

/*command*/

/*regular-customers */

/*networks*/

/*form*/
