.annexes__technology {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.annexes {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0px;
}
.annexes li {
  flex-wrap: nowrap;
}
