.feature {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  margin-left: -30px;
  padding: 0px;
}

.feature__item {
  margin-left: 30px;
  flex-basis: calc(100 % / 4);
  width: 270px;
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.feature__icon-list {
  padding: 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
}

.feature .feature__icon {
  width: 70px;
  height: 70px;
}
