/*footer*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  .container__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}
.address {
  margin-top: 20px;
}
.address__list {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 6px;
}

.address__content {
  color: var(--text-white-transparent);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: var(--text-accent-color);
  }
}
.address__link {
  color: var(--main-title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
}
