.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section--top {
  padding-top: 47px;
}
.section--other-background {
  background-color: #f5f4fa;
}

.section--bottom {
  padding-bottom: 47px;
}
