.social-networks {
  border: none;
  list-style: none;
  margin-left: 70px;
}
.clients {
  display: flex;
  padding: 0px;
  border: none;
}
.command-clients {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}
.clients__icon-clients {
  width: 44px;
  height: 44px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.clients__icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--main-title-color);
    background-color: var(--text-accent-color);
  }
}
.clients__icon-networks {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}
